FanClient/App_WebReferences/ServiceReference1/STLoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52845/STLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="VenueLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venuLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueAgeRestriction" type="xs:int" />
      <xs:element minOccurs="0" name="venueCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueLoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venuePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="venueZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VenueLite" nillable="true" type="tns:VenueLite" />
  <xs:complexType name="ArtistLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="artistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="artistEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artistWeb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistLite" nillable="true" type="tns:ArtistLite" />
  <xs:complexType name="ShowLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEntered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="TicketInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowLite" nillable="true" type="tns:ShowLite" />
  <xs:complexType name="ShowDetailLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Additional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistStartTime" type="ser:duration" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowDetailLite" nillable="true" type="tns:ShowDetailLite" />
  <xs:complexType name="FanLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="fanDateAdded" type="xs:int" />
      <xs:element minOccurs="0" name="fanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fanLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fanLoginUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fanName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanLite" nillable="true" type="tns:FanLite" />
  <xs:complexType name="ArrayOfShowLite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowLite" nillable="true" type="tns:ShowLite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowLite" nillable="true" type="tns:ArrayOfShowLite" />
</xs:schema>